@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan:wght@400;700&display=swap');
* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #070724;
  background-image: url("./src/assets/background-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
svg{
  background-color: black;
}
.headerAndNavBar h1{
  margin: 0;
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -1.05px;
  color: white;
  margin-left: 24px;
  margin-top: 16px;
}
.headerAndNavBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.burgerMenu{
  margin-top: 26px;
  margin-right: 24px;
}

.mainHr{
  background-color: white;
  margin-top: 16px;
  opacity: 0.2;
  mix-blend-mode: normal;
}
